# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Home Assistant files
.storage
.cloud
.google.token
tts/
www/
deps/

# Environment files
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db
